.footer {
      border-top: 3px solid rgb(0, 0, 0);
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(200, 200, 200, 1) 68%, rgba(168, 168, 168, 1) 100%, rgba(115, 115, 115, 1) 100%);
      height: 450px;
      margin-top: 6vh;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
}

.footer>.contact-details {
      border-bottom: 3px solid rgba(0, 0, 0, 0.356);
      width: 85%;
      height: 20%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      justify-content: space-between;
      margin: 1.8vh auto 1vh auto;
}

.footer>.contact-details>div {
      /* border: 2px solid rgb(26, 157, 245); */
      width: 32%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      cursor: default;
}

.contact-details>div>.icon {
      /* border: 1px solid rgb(11, 166, 255); */
      width: fit-content;
      height: fit-content;
      margin: 0px 0 auto auto;
      padding: 7px 3px;
      box-sizing: border-box;
}

.contact-details>div>.icon>img {
      width: 2.8vw;
      height: 2.8vw;
      object-fit: contain;
}

.contact-details>div>.details {
      /* border: 1px solid rgb(11, 166, 255); */
      width: 50%;
      height: 100%;
      margin: auto auto auto 0;
      padding: 3px 3px;
      box-sizing: border-box;
      color: black;
}

div>.details>.title {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      padding: 0px 5px;
}

div>.details>.content {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.8vw;
      /* font-weight: normal; */
      padding: 1px 5px;
}

.footer>.other-links {
      max-width: 100%;
      height: 300px;
      display: flex;
      flex-direction: row;
}

.footer>.other-links>.subdiv1, .footer>.other-links>.subdiv2, .footer>.other-links>.subdiv3 {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      color: black;
}

.other-links>.subdiv1>.company-logo {
      height: fit-content;
      width: 35%;
      margin: 10px auto 10px auto;
}

.other-links>.subdiv1>.company-logo>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
}

.other-links>.subdiv1>.content {
      width: 50%;
      /* border: 1px solid aqua; */
      margin: 5px auto 5px auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.78vw;
      text-align: justify;
      padding: 1px 20px;
}

.other-links>.subdiv1>.follow {
      margin: 2px auto 0px auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.other-links>.subdiv1>.follow>p {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2vw;
      text-align: center;
}

.other-links>.subdiv1>.follow>.follow-icon {
      /* border: 1px solid red; */
      width: 8vw;
      height: 60px;
      margin: 10px 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
}

.subdiv1>.follow>.follow-icon>img {
      height: 70%;
      cursor: pointer;
}

.other-links>.subdiv2>.useful-links {
      width: 80%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      text-decoration: underline;
      padding: 5px 20px;
      margin: 30px auto 10px auto;
      text-align: left;
      box-sizing: border-box;
}

.other-links>.subdiv2>.links {
      margin: 5px auto 0 auto;
      height: fit-content;
      width: fit-content;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1vw;
      padding: 3px 10px;
      margin: 0 auto auto auto;
      box-sizing: border-box;

}

.other-links>.subdiv2>.links>div {
      display: grid;
      grid-template-columns: 45% 45%;
      column-gap: 10px;

}

.other-links>.subdiv2>.links>div>div {
      /* border: 1px solid rgb(6, 141, 252); */
      margin: 0;
      width: 200px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
}

.other-links>.subdiv2>.links>div>div:hover {
      text-decoration: underline;
}

.other-links>.subdiv3>.title {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      width: fit-content;
      height: fit-content;
      text-decoration: underline;
      margin: 30px auto 10px auto;
      padding: 5px 10px;
}

.other-links>.subdiv3>.mail-box {
      width: 80%;
      margin: 15px auto 0 auto;
      /* border: 1px solid blue; */
}

.subdiv3>.mail-box>input[type="text"] {
      border: 1px solid black;
      width: 70%;
      height: 2vw;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1vw;
}

.subdiv3>.mail-box>input[type="text"]:focus {
      border: 1px solid black;
      outline: none;
}

.subdiv3>.mail-box>input[type="button"] {
      border: 1px solid black;
      width: 30%;
      height: 2vw;
      box-sizing: border-box;
      background-color: black;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1vw;
}

.subdiv3>.copyright {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1vw;
      margin: auto auto 6vw auto;
}

/* .black-footer> * {
      background-color: black;
      border : 1px solid black;
      color: white;
} */